
    // CF
    .ext-cf,
    .#{$u-prefix}cf {
        *zoom:1;

		&:before,
        &:after {
            content: "";
            display: table;
        }

		&:after {
            clear:both;
        }
	}




    // No Scroll
    .#{$u-prefix}noscroll {
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
        height: 100%;
        width: 100%;
    }




    // Padding (All)
    .#{$u-prefix}padding--none {padding: 0 !important;}
    .#{$u-prefix}padding--tiny {padding: $padding-unit--tiny !important;}
    .#{$u-prefix}padding--small {padding: $padding-unit--small !important;}
    .#{$u-prefix}padding {padding: $padding-unit !important;}
    .#{$u-prefix}padding--large {padding: $padding-unit--large !important;}
    .#{$u-prefix}padding--xlarge {padding: $padding-unit--xlarge !important;}




    // Padding (Vertical)
    .#{$u-prefix}padding-vertical--none {padding-left: 0 !important; padding-right: 0 !important;}
    .#{$u-prefix}padding-vertical--tiny {padding-left: $padding-unit--tiny !important; padding-right: $padding-unit--tiny !important;}
    .#{$u-prefix}padding-vertical--small {padding-left: $padding-unit--small !important; padding-right: $padding-unit--small !important;}
    .#{$u-prefix}padding-vertical {padding-left: $padding-unit !important; padding-right: $padding-unit !important;}
    .#{$u-prefix}padding-vertical--large {padding-left: $padding-unit--large !important; padding-right: $padding-unit--large !important;}
    .#{$u-prefix}padding-vertical--xlarge {padding-left: $padding-unit--xlarge !important; padding-right: $padding-unit--xlarge !important;}




    // Padding (Left)
    .#{$u-prefix}padding-left--none {padding-left: 0 !important;}
    .#{$u-prefix}padding-left--tiny {padding-left: $padding-unit--tiny !important;}
    .#{$u-prefix}padding-left--small {padding-left: $padding-unit--small !important;}
    .#{$u-prefix}padding-left {padding-left: $padding-unit !important;}
    .#{$u-prefix}padding-left--large {padding-left: $padding-unit--large !important;}
    .#{$u-prefix}padding-left--xlarge {padding-left: $padding-unit--xlarge !important;}




    // Padding (Right)
    .#{$u-prefix}padding-right--none {padding-right: 0 !important;}
    .#{$u-prefix}padding-right--tiny {padding-right: $padding-unit--tiny !important;}
    .#{$u-prefix}padding-right--small {padding-right: $padding-unit--small !important;}
    .#{$u-prefix}padding-right {padding-right: $padding-unit !important;}
    .#{$u-prefix}padding-right--large {padding-right: $padding-unit--large !important;}
    .#{$u-prefix}padding-right--xlarge {padding-right: $padding-unit--xlarge !important;}




    // Padding (Horizontal)
    .#{$u-prefix}padding-horizontal--none {padding-top: 0 !important; padding-bottom: 0 !important;}
    .#{$u-prefix}padding-horizontal--tiny {padding-top: $padding-unit--tiny !important; padding-bottom: $padding-unit--tiny !important;}
    .#{$u-prefix}padding-horizontal--small {padding-top: $padding-unit--small !important; padding-bottom: $padding-unit--small !important;}
    .#{$u-prefix}padding-horizontal {padding-top: $padding-unit !important; padding-bottom: $padding-unit !important;}
    .#{$u-prefix}padding-horizontal--large {padding-top: $padding-unit--large !important; padding-bottom: $padding-unit--large !important;}
    .#{$u-prefix}padding-horizontal--xlarge {padding-top: $padding-unit--xlarge !important; padding-bottom: $padding-unit--xlarge !important;}




    // Padding (Top)
    .#{$u-prefix}padding-top--none {padding-top: 0 !important;}
    .#{$u-prefix}padding-top--tiny {padding-top: $padding-unit--tiny !important;}
    .#{$u-prefix}padding-top--small {padding-top: $padding-unit--small !important;}
    .#{$u-prefix}padding-top {padding-top: $padding-unit !important;}
    .#{$u-prefix}padding-top--large {padding-top: $padding-unit--large !important;}
    .#{$u-prefix}padding-top--xlarge {padding-top: $padding-unit--xlarge !important;}




    // Padding (Bottom)
    .#{$u-prefix}padding-bottom--none {padding-bottom: 0 !important;}
    .#{$u-prefix}padding-bottom--tiny {padding-bottom: $padding-unit--tiny !important;}
    .#{$u-prefix}padding-bottom--small {padding-bottom: $padding-unit--small !important;}
    .#{$u-prefix}padding-bottom {padding-bottom: $padding-unit !important;}
    .#{$u-prefix}padding-bottom--large {padding-bottom: $padding-unit--large !important;}
    .#{$u-prefix}padding-bottom--xlarge {padding-bottom: $padding-unit--xlarge !important;}




    // Margin (All)
    .#{$u-prefix}margin--none {margin: 0 !important;}
    .#{$u-prefix}margin--tiny {margin: $margin-unit--tiny !important;}
    .#{$u-prefix}margin--small {margin: $margin-unit--small !important;}
    .#{$u-prefix}margin {margin: $margin-unit !important;}
    .#{$u-prefix}margin--large {margin: $margin-unit--large !important;}
    .#{$u-prefix}margin--xlarge {margin: $margin-unit--xlarge !important;}

    .#{$u-prefix}margin---tiny {margin: -$margin-unit--tiny !important;}
    .#{$u-prefix}margin---small {margin: -$margin-unit--small !important;}
    .#{$u-prefix}margin- {margin: -$margin-unit !important;}
    .#{$u-prefix}margin---large {margin: -$margin-unit--large !important;}
    .#{$u-prefix}margin---xlarge {margin: -$margin-unit--xlarge !important;}





    // Margin (Vertical)
    .#{$u-prefix}margin-vertical--none {margin-left: 0 !important; margin-right: 0 !important;}
    .#{$u-prefix}margin-vertical--tiny {margin-left: $margin-unit--tiny !important; margin-right: $margin-unit--tiny !important;}
    .#{$u-prefix}margin-vertical--small {margin-left: $margin-unit--small !important; margin-right: $margin-unit--small !important;}
    .#{$u-prefix}margin-vertical {margin-left: $margin-unit !important; margin-right: $margin-unit !important;}
    .#{$u-prefix}margin-vertical--large {margin-left: $margin-unit--large !important; margin-right: $margin-unit--large !important;}
    .#{$u-prefix}margin-vertical--xlarge {margin-left: $margin-unit--xlarge !important; margin-right: $margin-unit--xlarge !important;}

	.#{$u-prefix}margin-vertical---tiny {margin-left: -$margin-unit--tiny !important; margin-right: -$margin-unit--tiny !important;}
    .#{$u-prefix}margin-vertical---small {margin-left: -$margin-unit--small !important; margin-right: -$margin-unit--small !important;}
    .#{$u-prefix}margin-vertical- {margin-left: -$margin-unit !important; margin-right: -$margin-unit !important;}
    .#{$u-prefix}margin-vertical---large {margin-left: -$margin-unit--large !important; margin-right: -$margin-unit--large !important;}
    .#{$u-prefix}margin-vertical---xlarge {margin-left: -$margin-unit--xlarge !important; margin-right: -$margin-unit--xlarge !important;}




    // Margin (Left)
    .#{$u-prefix}margin-left--none {margin-left: 0 !important;}
    .#{$u-prefix}margin-left--tiny {margin-left: $margin-unit--tiny !important;}
    .#{$u-prefix}margin-left--small {margin-left: $margin-unit--small !important;}
    .#{$u-prefix}margin-left {margin-left: $margin-unit !important;}
    .#{$u-prefix}margin-left--large {margin-left: $margin-unit--large !important;}
    .#{$u-prefix}margin-left--xlarge {margin-left: $margin-unit--xlarge !important;}

    .#{$u-prefix}margin-left---tiny {margin-left: -$margin-unit--tiny !important;}
    .#{$u-prefix}margin-left---small {margin-left: -$margin-unit--small !important;}
    .#{$u-prefix}margin-left- {margin-left: -$margin-unit !important;}
    .#{$u-prefix}margin-left---large {margin-left: -$margin-unit--large !important;}
    .#{$u-prefix}margin-left---xlarge {margin-left: -$margin-unit--xlarge !important;}




    // Margin (Right)
    .#{$u-prefix}margin-right--none {margin-right: 0 !important;}
    .#{$u-prefix}margin-right--tiny {margin-right: $margin-unit--tiny !important;}
    .#{$u-prefix}margin-right--small {margin-right: $margin-unit--small !important;}
    .#{$u-prefix}margin-right {margin-right: $margin-unit !important;}
    .#{$u-prefix}margin-right--large {margin-right: $margin-unit--large !important;}
    .#{$u-prefix}margin-right--xlarge {margin-right: $margin-unit--xlarge !important;}

	.#{$u-prefix}margin-right---tiny {margin-right: -$margin-unit--tiny !important;}
    .#{$u-prefix}margin-right---small {margin-right: -$margin-unit--small !important;}
    .#{$u-prefix}margin-right- {margin-right: -$margin-unit !important;}
    .#{$u-prefix}margin-right---large {margin-right: -$margin-unit--large !important;}
    .#{$u-prefix}margin-right---xlarge {margin-right: -$margin-unit--xlarge !important;}




    // Margin (Horizontal)
    .#{$u-prefix}margin-horizontal--none {margin-top: 0 !important; margin-bottom: 0 !important;}
    .#{$u-prefix}margin-horizontal--tiny {margin-top: $margin-unit--tiny !important; margin-bottom: $margin-unit--tiny !important;}
    .#{$u-prefix}margin-horizontal--small {margin-top: $margin-unit--small !important; margin-bottom: $margin-unit--small !important;}
    .#{$u-prefix}margin-horizontal {margin-top: $margin-unit !important; margin-bottom: $margin-unit !important;}
    .#{$u-prefix}margin-horizontal--large {margin-top: $margin-unit--large !important; margin-bottom: $margin-unit--large !important;}
    .#{$u-prefix}margin-horizontal--xlarge {margin-top: $margin-unit--xlarge !important; margin-bottom: $margin-unit--xlarge !important;}

	.#{$u-prefix}margin-horizontal---tiny {margin-top: -$margin-unit--tiny !important; margin-bottom: -$margin-unit--tiny !important;}
    .#{$u-prefix}margin-horizontal---small {margin-top: -$margin-unit--small !important; margin-bottom: -$margin-unit--small !important;}
    .#{$u-prefix}margin-horizontal- {margin-top: -$margin-unit !important; margin-bottom: -$margin-unit !important;}
    .#{$u-prefix}margin-horizontal---large {margin-top: -$margin-unit--large !important; margin-bottom: -$margin-unit--large !important;}
    .#{$u-prefix}margin-horizontal---xlarge {margin-top: -$margin-unit--xlarge !important; margin-bottom: -$margin-unit--xlarge !important;}




    // Margin (Top)
    .#{$u-prefix}margin-top--none {margin-top: 0 !important;}
    .#{$u-prefix}margin-top--tiny {margin-top: $margin-unit--tiny !important;}
    .#{$u-prefix}margin-top--small {margin-top: $margin-unit--small !important;}
    .#{$u-prefix}margin-top {margin-top: $margin-unit !important;}
    .#{$u-prefix}margin-top--large {margin-top: $margin-unit--large !important;}
    .#{$u-prefix}margin-top--xlarge {margin-top: $margin-unit--xlarge !important;}

	.#{$u-prefix}margin-top---tiny {margin-top: -$margin-unit--tiny !important;}
    .#{$u-prefix}margin-top---small {margin-top: -$margin-unit--small !important;}
    .#{$u-prefix}margin-top- {margin-top: -$margin-unit !important;}
    .#{$u-prefix}margin-top---large {margin-top: -$margin-unit--large !important;}
    .#{$u-prefix}margin-top---xlarge {margin-top: -$margin-unit--xlarge !important;}




    // Margin (Bottom)
    .#{$u-prefix}margin-bottom--none {margin-bottom: 0 !important;}
    .#{$u-prefix}margin-bottom--tiny {margin-bottom: $margin-unit--tiny !important;}
    .#{$u-prefix}margin-bottom--small {margin-bottom: $margin-unit--small !important;}
    .#{$u-prefix}margin-bottom {margin-bottom: $margin-unit !important;}
    .#{$u-prefix}margin-bottom--large {margin-bottom: $margin-unit--large !important;}
    .#{$u-prefix}margin-bottom--xlarge {margin-bottom: $margin-unit--xlarge !important;}

    .#{$u-prefix}margin-bottom---tiny {margin-bottom: -$margin-unit--tiny !important;}
    .#{$u-prefix}margin-bottom---small {margin-bottom: -$margin-unit--small !important;}
    .#{$u-prefix}margin-bottom- {margin-bottom: -$margin-unit !important;}
    .#{$u-prefix}margin-bottom---large {margin-bottom: -$margin-unit--large !important;}
    .#{$u-prefix}margin-bottom---xlarge {margin-bottom: -$margin-unit--xlarge !important;}




    // Text Alignment
    .#{$u-prefix}text-align--center {text-align: center !important;}
    .#{$u-prefix}text-align--left {text-align: left !important;}
    .#{$u-prefix}text-align--right {text-align: right !important;}




    // Font Size
    .#{$u-prefix}font-size {font-size: $font-size;}
    .#{$u-prefix}font-size--tiny {font-size: $font-size--tiny;}
    .#{$u-prefix}font-size--small {font-size: $font-size--small;}
    .#{$u-prefix}font-size--large {font-size: $font-size--large;}
    .#{$u-prefix}font-size--xlarge {font-size: $font-size--xlarge;}



	// Font Weight
	.#{$u-prefix}font-weight {font-weight: $font-weight--regular;}
	.#{$u-prefix}font-weight--thin {font-weight: $font-weight--thin;}
	.#{$u-prefix}font-weight--light {font-weight: $font-weight--light;}
	.#{$u-prefix}font-weight--extra-light {font-weight: $font-weight--extra-light;}
	.#{$u-prefix}font-weight--regular {font-weight: $font-weight--regular;}
	.#{$u-prefix}font-weight--medium {font-weight: $font-weight--medium;}
	.#{$u-prefix}font-weight--semi-bold {font-weight: $font-weight--semi-bold;}
	.#{$u-prefix}font-weight--bold {font-weight: $font-weight--bold;}
	.#{$u-prefix}font-weight--extra-bold {font-weight: $font-weight--extra-bold;}
	.#{$u-prefix}font-weight--black {font-weight: $font-weight--black;}



    // Floats
    .#{$u-prefix}float--left {float: left !important;}
    .#{$u-prefix}float--right {float: right !important;}
    .#{$u-prefix}float--none {float: none !important;}




    // Display
    .#{$u-prefix}display--block {display: block !important;}
    .#{$u-prefix}display--none {display: none !important;}
    .#{$u-prefix}display--inline {display: inline !important;}
    .#{$u-prefix}display--inline-block {display: inline-block !important;}




    // Vertical Alignment
    .#{$u-prefix}vertical-align--top {vertical-align: top !important;}
    .#{$u-prefix}vertical-align--middle {vertical-align: middle !important;}
    .#{$u-prefix}vertical-align--bottom {vertical-align: bottom !important;}




    // Opacity
    .#{$u-prefix}opacity--tiny {opacity: .1 !important;}
    .#{$u-prefix}opacity--small {opacity: .3 !important;}
    .#{$u-prefix}opacity {opacity: .5 !important;}
    .#{$u-prefix}opacity--large {opacity: .7 !important;}
    .#{$u-prefix}opacity--xlarge {opacity: .9 !important;}




    // Text Decoration
    .#{$u-prefix}text-decoration--none {text-decoration: none !important;}
    .#{$u-prefix}text-decoration--underline {text-decoration: underline !important;}
    .#{$u-prefix}text-decoration--line-through {text-decoration: line-through !important;}





    // Letter Spacing
    .#{$u-prefix}letter-spacing--none {letter-spacing: 0 !important;}
